body {
  font-family: 'Raleway', sans-serif;
  background: url('honeyComb.png') fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
margin: 0 auto;
padding-top: 100px;
}

p {
  font-size: 28px;
  text-align: center;
  margin-top: 20px;
}

header {
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}

h1 {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

h2 {
  margin-top: 20px;
  font-size: 24px;
  text-align: center;
}
img {
  margin-top: 50px;
  margin-bottom: 50px;
}

form {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn:hover {
  background-color: #f7d84f;
  color: #665304;
  border-color: #f7d84f;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hidden {
  display: none;
}

.correct {
  font-size: 30px;
  text-align: center;
}

legend {
  font-size: 12pt;
}
















